body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    color: #000;
}

header {
    background-color: #fff;
    color:#000;
    padding: 1em;
    text-align: center;
}

main {
    flex: 1;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em; /* Tăng khoảng cách giữa các biểu tượng */
    background: #f0f0f0;
    border-radius: 15px;
    padding: 4em; /* Tăng kích thước của khung */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px; /* Tăng kích thước biểu tượng */
    height: 120px; /* Tăng kích thước biểu tượng */
    border-radius: 50%;
    background-color: #e0e0e0;
    text-decoration: none;
    color: #000;
    font-size: 4em; /* Tăng kích thước biểu tượng FontAwesome */
    transition: background-color 0.3s;
}

.icon:hover {
    background-color: #c0c0c0;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em;
}
