body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fbf4f4;
    color: #000000;
}
header {
    text-align: center;
}
h1 {
    font-size: 3em;
}
